<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #employeeForm="ngForm" ngSubmit="addEmployee(employeeForm)">

            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name"
                  placeholder="Ingrese nombre" />
              </div>
              <div class="input-field col s12">
                <input type="text" name="position" #position="ngModel"
                  [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Ingrese Posición" />
              </div>
              <div class="input-field col s12">
                <input type="text" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office"
                  placeholder="Ingrese oficina" />
              </div>
              <div class="input-field col s12">
                <input type="text" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary"
                  placeholder="Ingrese salario" />
              </div>

              <div class="card-action">
                <div class="input-field col 12">
                  <button class="btn right" (click)="addEmployee(employeeForm)">Save</button>
                  <button class="btn right" (click)="resetForm(employeeForm)">Clean</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="col s6">
      <table>
        <thead>
          <td>Nombre</td>
          <td>Cargo</td>
          <td>Oficina</td>
          <td>Salario</td>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeService.employees">
            <td>{{employee.name}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.office}}</td>
            <td>{{employee.salary}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>