<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #employeeForm="ngForm" ngSubmit="addEmployee(employeeForm)">

            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="EmployeeService.selectedEmployee.name"
                  placeholder="Ingrese nombre" />
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="position" #position="ngModel"
                  [(ngModel)]="EmployeeService.selectedEmployee.position" placeholder="Ingrese Posición" />
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="office" #office="ngModel" [(ngModel)]="EmployeeService.selectedEmployee.office"
                  placeholder="Ingrese oficina" />
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="salary" #name="salary" [(ngModel)]="EmployeeService.selectedEmployee.salary"
                  placeholder="Ingrese salario" />
              </div>
            </div>


          </form>
        </div>
      </div>

    </div>
    <div class="col s6"></div>
  </div>
</div>